<% layout("/layouts/boilerplate") %>

    <div class="row">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3><br/>
    <form method="POST"
     action="/listings/<%= listing._id %>?_method=PUT"
     novalidate
     class="needs-validation"
      enctype="multipart/form-data"
     >

      <div class="mb-3 mt-3">
        <label for="title "
         class="form-label"><b>Title</b></label>
          <br />
      <input name="listing[title]"
       value="<%= listing.title %>" 
       type="text" required />
       </div>
      <div class="mb-3 mt-3">
        <label for="Description"
         class="form-label"><b>Description</b></label>
          <br />
      <textarea name="listing[description]" class="flow-control">
      <%= listing.description %></textarea
      >
      </div>
      <div class="mb-3 mt-3">
        <label for="Image URL"
         class="form-label"><b>Upload new image</b></label>
         <br/>
      <input name="listing[image]"
   
       type="file" />
       </div>
       <div class="row ">
      <div class="mb-3 mt-3 col-md-6">
        <label for="Price"
         class="form-label"><b>Price</b></label>
          <br />
      <input name="listing[price]" 
      value="<%= listing.price %>"
       type="number" 
       required/>
      </div>
      <div class="mb-3 mt-3 col-md-6">
        <label for="Country"
         class="form-label"><b>Country</b></label>
          <br />
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        required
      />
     </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="Location"
         class="form-label"><b>Location</b></label>
          <br />
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        required
      />
      </div>
     
      <button class="Edit">Edit</button>
       <br /><br />
    </form>
    </div>
    </div>